@page "/"
    <h1>Welcome to Codeterpret!</h1>
    Codeterpret is a web based tool used, under development by <a href="https://www.coreylasley.com">Corey Lasley</a>, which can be used to translate database schema creation scripts, and generate back-end services and front-end applications from a schema creation script. The end goal is to help save developers from the monotony of having to write code for all of the CRUD operations the app will need.
    <br />
    <br />
    If you would like to contribute to this effort, please take a look at the <a href="https://github.com/coreylasley/codeterpret">GitHub repo</a>.
    <br />
    <br />
    <a href="builder">Get Started!</a>

