@inherits LayoutComponentBase

<NavMenu />

<div class="body">
    @Body
</div>

<br /><br /><br />
<div class="footer">
    <a href="/">Home</a> |
    <a href="privacy">Privacy Policy</a><br>
    © 2020 <a href="https://www.coreylasley.com">Corey Lasley</a>
</div>
