
<div class="menucontainer">
    <div id="title">Codeterpret</div>
    <div class="navbar">

        <div class="icon-bar" onclick="Show()">
            <i></i>
            <i></i>
            <i></i>
        </div>

        <ul id="nav-lists">
            <li class="close"><span onclick="Hide()">×</span></li>
            <li><NavLink id="link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink id="link" href="builder">Builder</NavLink></li>
            <li><NavLink id="link" href="tools">Tools</NavLink></li>
            <li><NavLink id="link" href="#">About</NavLink></li>
            <li><NavLink id="link" href="https://github.com/coreylasley/codeterpret">GitHub</NavLink></li>
        </ul>

    </div>
</div>






@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
       collapseNavMenu = !collapseNavMenu;
    }
}
