.menucontainer {
    height: 60px;
    background-color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

#title {
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Teko';
    font-size: 32px;
    color: #c9c9c9;
    padding: 0 10px;
}

#link {
    font-family: 'Teko';
}

.footer {
    font-family: 'Teko';
    font-size: 16px;
    text-align: center;
}

    .footer a {
        color: #000000;
        text-decoration: none;
    }

.menucontainer .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

    .menucontainer .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
    }

        .menucontainer .logo a img {
            max-width: 100%;
            max-height: 60px;
        }

.menucontainer .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

    .menucontainer .navbar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .menucontainer .navbar ul li a {
            text-decoration: none;
            color: #999999;
            font-size: 18px;
            text-transform: uppercase;
            display: block;
            height: 60px;
            line-height: 60px;
            cursor: pointer;
            padding: 0 10px;
        }

            .menucontainer .navbar ul li a:hover {
                color: #ffffff;
                background-color: rgba(23, 23, 23, 0.9);
            }

        .menucontainer .navbar ul .close {
            display: none;
            text-align: right;
            padding: 10px;
        }

            .menucontainer .navbar ul .close span {
                font-size: 40px;
                display: inline-block;
                border: 1px solid #cccccc;
                padding: 0 10px;
                cursor: pointer;
            }

    .menucontainer .navbar .icon-bar {
        padding: 18px 8px;
        width: 50px;
        height: 60px;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: pointer;
    }

        .menucontainer .navbar .icon-bar i {
            background-color: #ffffff;
            height: 2px;
        }

@media only screen and (max-width: 650px) {
    .menucontainer {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .menucontainer .logo {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .menucontainer .navbar {
            -webkit-box-flex: 0;
            -ms-flex: 0;
            flex: 0;
        }

            .menucontainer .navbar ul {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                position: fixed;
                left: 100%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background: #ffffff;
                width: 100%;
                height: 100%;
                overflow: auto;
                -webkit-transition: left .3s;
                -o-transition: left .3s;
                transition: left .3s;
            }

                .menucontainer .navbar ul li a {
                    padding: 10px;
                    font-size: 16px;
                    height: auto;
                    line-height: normal;
                    color: #555555;
                }

                .menucontainer .navbar ul .close {
                    display: block;
                }

            .menucontainer .navbar .icon-bar {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .menucontainer .navbar ._Menus-show {
                left: 0;
            }
}


.body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

